import(data.table)

importFrom("utils", "read.csv", "read.table", "sessionInfo")

export(importFeatureCounts,
       importGFF, 
       importGFF3, 
       importGTF, 
       importPED, 
       importSTARLog, 
       importVCF,
       prereadGTF)
