import(data.table)

importFrom("utils", "read.csv", "read.table", "sessionInfo")

export(exportBed, 
       exportFA,
       importBlastTab,
       importBed,
       importFA, 
       importFeatureCounts,
       importFQ,
       importGFF, 
       importGFF3, 
       importGTF, 
       importPED, 
       importSTARLog, 
       importVCF,
       importXML,
       prereadGTF)

S3method(print,featureCounts)
S3method(summary,featureCounts)